* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: white;
    color: navy;
}

/* NAVBAR */
.navbar {
    padding: 18px 25px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid babyPink;
}

.logo {
    color: navy;
    font-size: 26px;
    font-weight: 700;
}

.hamburger {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
}

/* SIDE MENU */
.side-menu {
    width: 280px;
    height: 100%;
    background: babyPink;
    position: fixed;
    top: 0;
    left: -300px;
    padding-top: 80px;
    transition: .4s;
    z-index: 10;
}

.side-menu a {
    display: block;
    padding: 15px 25px;
    font-size: 20px;
    color: navy;
    text-decoration: none;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 26px;
    cursor: pointer;
}

/* ORDER PANEL */
.order-panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 260px;
    height: 100%;
    background: yellow;
    padding: 20px;
    overflow-y: auto;
}

.order-panel h3 {
    color: navy;
    margin-bottom: 10px;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: babyPink;
}

.hero h1 {
    font-size: 42px;
    color: navy;
    font-weight: 700;
}

.hero p {
    margin-top: 10px;
    font-size: 20px;
    color: navy;
}

.hero-buttons {
    margin-top: 25px;
}

.btn {
    padding: 12px 28px;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    margin: 5px;
    font-weight: 600;
}

.yellow {
    background: yellow;
    color: navy;
}

.pink {
    background: babyPink;
    color: navy;
}

/* MENU */
.menu-section {
    padding: 60px 20px;
    text-align: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.menu-card {
    background: white;
    border: 2px solid babyPink;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-card:hover {
    transform: scale(1.05);
}

.menu-card img {
    width: 100%;
    border-radius: 10px;
}

/* OTHER SECTIONS */
.motive, .dessert, .contact {
    padding: 60px 20px;
    text-align: center;
}

